:root {
  --color-black: #000;
  --color-white: #fff;
  --color-white-smoke: #f9f9f9;
  --color-silver: #eeeff1;
  --color-text: #727272;
  --color-accent: #34547a;

  --font-size: 16px;
  --font-family: "Roboto", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --container-primary: 1110px;
  --container-sm: 540px;

  --line-height-sm: 26.25px;
  --line-height-lg: 37.5px;

  --letter-spacing: 0.1em;

  --gap: 20px;
  --gap-sm: calc(var(--gap) / 2);
  --gap-lg: calc(var(--gap) * 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
a {
  text-decoration: none;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: normal;
  line-height: var(--line-height-lg);
}

.container {
  width: min(100% - var(--gap-lg), var(--container-primary));
  margin-inline: auto;
}

.container--sm {
  width: min(100% - var(--gap-lg), var(--container-sm));
  margin-inline: auto;
}

.header {
  background-color: var(--color-silver);
  padding-top: 79px;
  padding-bottom: 141px;
}

.navbar {
  margin-bottom: 162px;
}
.navbar-list {
  display: flex;
  column-gap: var(--gap-lg);
}

.navbar-link {
  color: var(--color-black);
  display: block;
  padding: var(--gap-sm);
  transition: scale 0.1s;
}

.navbar-link:hover {
  color: var(--color-black);
  scale: 1.1;
}

.content {
  width: var(--container-sm);
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
}
.content-title {
  font-weight: var(--font-weight-medium);
  font-size: 48px;
  margin: 0;
}
.content-text {
  font-weight: var(--font-weight-regular);
  padding-top: 60px;
  color: var(--color-text);
  line-height: var(--line-height-sm);
}
.content-button {
  background-color: var(--color-accent);
  font-weight: var(--font-weight-regular);
  color: var(--color-white);
  padding: 0.5em;
  min-width: 225px;
  min-height: 65px;
  letter-spacing: var(--letter-spacing);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  padding-top: 112px;
  padding-bottom: 100px;
}

.about-title {
  align-items: center;
  font-weight: var(--font-weight-medium);
  font-size: 32px;
  line-height: var(--line-height-lg);
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.about-text {
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
  font-size: 16px;
  color: var(--color-text);
  text-align: center;
}

.progress {
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 100px 0;
}

.progress-container {
  display: flex;
  gap: 49px;
  justify-content: center;
  flex-wrap: wrap;
}
.progress-item {
  display: flex;
  gap: var(--gap);
}

.progress-item_text-box {
  display: flex;
  flex-direction: column;
}
.progress-number {
  font-size: 21px;
  line-height: 24.61px;
  font-weight: var(--font-weight-regular);
  display: flex;
  flex-direction: column;
}
.progress-text {
  font-size: 16px;
  line-height: var(--line-height-sm);
  display: flex;
  flex-direction: column-reverse;
}
.progress-img {
  order: -1;
}

.about-me {
  padding-top: 100px;
  padding-bottom: 57px;
}

.video {
  padding-bottom: 100px;
}

.video-iframe {
  width: 1110px;
  height: 600px;
  padding-buttom: 100px;
}

.footer {
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 50px 0;
}

.footer-text {
  font-weight: var(--font-weight-medium);
  font-size: 21px;
  line-height: 24.61px;
  margin-bottom: 20px;
}
.footer-copyright {
  font-size: 13px;
  line-height: 21.33px;
  font-weight: var(--font-weight-regular);
}
