.header {
  background-color: $color-silver;
  @include padding-top(79px);
  @include padding-bottom(141px);
}

.content {
  max-width: 550px;
  @include display(flex);
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;

  &__title {
    font-weight: $font-weight-medium;
    @include font-size(48px);
    @include margin(-7px 11px);
    line-height: 78.75px;
  }

  &__text {
    font-weight: $font-weight-regular;
    @include padding(1px 12px);
    color: $color-text;
    line-height: $line-height-sm;
  }

  &__button {
    background-color: $color-accent;
    font-weight: $font-weight-regular;
    color: $color-white;
    @include padding(0.5em);
    min-width: 225px;
    min-height: 65px;
    letter-spacing: $letter-spacing;
    @include display(flex);
    align-items: center;
    justify-content: center;
    @include margin(-6px 10px);
  }
}