.footer {
  background-color: $color-accent;
  color: $color-white;
  padding: 50px 0;
  margin: -13px 0px;


&__text {
  font-weight: $font-weight-medium;
  font-size: 21px;
  line-height: 24.61px;
  margin: -1px 0px;
}
&__copyright {
  font-size: 13px;
  line-height: 21.33px;
  font-weight: $font-weight-regular;
  margin: 12px 0px;
}
}