

.header {
  background-color: $color-silver;
  @include padding-top(79px);
  @include padding-bottom(141px);
}

.navbar {
  margin-bottom: 162px;

&__list {
  @include display(flex);
  column-gap: 22.6px;
  @include font-size(16px);
  line-height: $line-height-sm;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight-regular;
  flex-wrap: wrap;
}

&__link {
  color: $color-black;
  @include display(block);
  @include padding($gap-sm);
  transition: scale 0.25s;
}

&__link:hover {
  color: $color-black;
  transform: scale(1.1);
}

&__link--active {
  color: $color-accent;
}
}

.one {
  color: $color-accent;
}

.content {
  max-width: 550px;
  @include display(flex);
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;

&__title {
  font-weight: $font-weight-medium;
  @include font-size(48px);
  @include margin(-7px 11px);
  line-height: 78.75px;
}
&__text {
  font-weight: $font-weight-regular;
  @include padding(1px 12px);
  color: $color-text;
  line-height: $line-height-sm;
}
&__button {
  background-color: $color-accent;
  font-weight: $font-weight-regular;
  color: $color-white;
  @include padding(0.5em);
  min-width: 225px;
  min-height: 65px;
  letter-spacing: $letter-spacing;
  @include display(flex);
  align-items: center;
  justify-content: center;
  @include margin(-6px 10px);
}
}