.about {
  @include padding-top(112px);
  @include padding-bottom(100px);

&__title {
  align-items: center;
  font-weight: $font-weight-medium;
  @include font-size(32px);
  line-height: $line-height-lg;
  @include padding-bottom(50px);
  @include display(flex);
  flex-direction: column;
}

&__text {
  font-weight: $font-weight-regular;
  line-height: $line-height-sm;
  @include font-size();
  color: $color-text;
  text-align: center;
  @include margin(-12px 0);
}
}

.container--flex {
  @include display(flex);
  gap: 49px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.progress {
  background-color: $color-accent;
  color: $color-white;
  @include padding(100px 0);


&__item {
  @include display(flex);
  column-gap: 20px;
}

&__number {
  @include font-size(21px);
  line-height: 24.61px;
  font-weight: $font-weight-regular;
  @include display(flex);
  flex-direction: column;
  @include padding(3px 1px);
}

&__text {
  @include font-size(16px);
  line-height: $line-height-sm;
  @include display(flex);
  flex-direction: column-reverse;
}

&__img {
  order: -1;
  width: 50px;
  height: 50px;
}
}

.about__me {
  @include padding-top(100px);
  @include padding-bottom(57px);
}

.video {
  @include padding-bottom(100px);

&__iframe {
  min-width: -webkit-fill-available;
  min-height: 600px;
  border: none;
}
}