$color-black: #000;
  $color-white: #fff;
  $color-white-smoke: #f9f9f9;
  $color-silver: #eeeff1;
  $color-text: #727272;
  $color-accent: #34547a;

   $font-family: "Roboto", sans-serif;
  $font-weight-regular: 400;
  $font-weight-medium: 500;

  $container-primary: 1110px;
  $container-sm: 540px;

  $line-height-sm: 26.25px;
  $line-height-lg: 37.5px;

  $letter-spacing: 0.1em;

  $gap: 20px;
  $gap-sm: calc($gap/2);
  $gap-lg: calc($gap*2);

